<!-- Star Planes-->
<hr class="featurette-divider" id="planes">
<div class="welcome">
    <h2 class="featurette-heading">Welcome to the <span class="text-muted" id="red-jungle">JUNGLE!</span></h2>
    <p class="lead">Con [menta jungle] Introdúcete en el mercado de forma efectiva, date a conocer y prevalece en la jungla.</p>
</div>
<div class="visible-lg visible-md row">
    <div class="col-xs-6 col-sm-3">
        <div class="panel-group" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="collapseListGroupHeading0">
                    <h4 class="panel-title">
                        <div class="collapsed">
                            <div class="features"></div>
                        </div>
                    </h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" id="features-column">Desarrollo Web</li>
                    <li class="list-group-item" id="features-column">Responsive Web</li>
                    <li class="list-group-item" id="features-column">Optimización Seo</li>
                </ul>
                <div id="collapseListGroup0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                    <ul class="list-group">
                        <li class="list-group-item" id="features-column">Blog</li>
                        <li class="list-group-item" id="features-column">Landing Page</li>
                        <li class="list-group-item" id="features-column">Google Adwords</li>
                        <li class="list-group-item" id="features-column">Facebook Ads</li>
                        <li class="list-group-item" id="features-column">Redes Sociales</li>
                        <li class="list-group-item" id="features-column">Dominio</li>
                        <li class="list-group-item" id="features-column">Hosting</li>
                        <li class="list-group-item" id="features-column">Correos</li>
                        <li class="list-group-item" id="features-column">E-mailing</li>
                        <li class="list-group-item" id="features-column">Medición de resultados</li>
                        <li class="list-group-item" id="features-column">Consultoría gratuita</li>
                        <li class="list-group-item" id="features-column">Gratis</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="panel-group" role="tablist" id="center-plan">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                    <div class="collapsed">
                        {%- image '@AppBundle/Resources/public/img/monkey.png' -%}
                        <img src="{{ asset_url }}" id="avatar" alt="monkey-lite">
                        {%- endimage -%}
                    </div>
                    <h4 class="panel-title">
                        <div class="collapsed" aria-expanded="false" aria-controls="collapseListGroup1">
                        </div>
                    </h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" id="celda">4 Páginas</li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-ok-sign"></span>
                    </li>
                    <li class="list-group-item" id="celda">
                        <span class="glyphicon glyphicon-ok-sign"></span>
                    </li>
                </ul>
                <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </li>
                        <li class="list-group-item" id="celda">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </li>
                        <li class="list-group-item" id="celda">1 Campaña</li>
                        <li class="list-group-item">4 Post (Face)</li>
                        <li class="list-group-item" id="celda">.com ó .pe</li>
                        <li class="list-group-item">20Gb</li>
                        <li class="list-group-item" id="celda">50</li>
                        <li class="list-group-item">Hasta 300 suscriptores</li>
                        <li class="list-group-item" id="celda">
                            <span class="glyphicon glyphicon-ok-sign"></span>
                        </li>
                        <li class="list-group-item">30 minutos</li>
                        <li class="list-group-item" id="celda">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer" id="monkeylite-price">$ 227.00*
                    <p class="legend-price">pago mensual.</p>
                    <div id="btn-buy">
                        <a type="button" class="btn btn-success" href="monkey" target="_blank">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="panel-group" role="tablist" id="center-plan">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                    <div class="collapsed">
                        {%- image '@AppBundle/Resources/public/img/fox.png' -%}
                        <img src="{{ asset_url }}" id="avatar" alt="fox-pro">
                        {%- endimage -%}
                    </div>
                    <h4 class="panel-title">
                        <div class="collapsed" aria-expanded="false" aria-controls="collapseListGroup1">
                        </div>
                    </h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" id="celda">6 Páginas</li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-ok-sign"></span>
                    </li>
                    <li class="list-group-item" id="celda">
                        <span class="glyphicon glyphicon-ok-sign"></span>
                    </li>
                </ul>
                <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                    <ul class="list-group">
                        <li class="list-group-item">2 Artículos</li>
                        <li class="list-group-item" id="celda">
                            <span class="glyphicon glyphicon-ok-sign"></span>
                        </li>
                        <li class="list-group-item">2 (1 Gráfica 1 Texto)</li>
                        <li class="list-group-item" id="celda">1 Campaña</li>
                        <li class="list-group-item">6 Post (Face y Twi)</li>
                        <li class="list-group-item" id="celda">.com ó .pe</li>
                        <li class="list-group-item">Ilimitado</li>
                        <li class="list-group-item" id="celda">100</li>
                        <li class="list-group-item">Hasta 500 suscriptores</li>
                        <li class="list-group-item" id="celda">
                            <span class="glyphicon glyphicon-ok-sign"></span>
                        </li>
                        <li class="list-group-item">30 minutos</li>
                        <li class="list-group-item" id="celda">Spotify ó Netflix</li>
                    </ul>
                </div>
                <div class="panel-footer" id="foxpro-price">$ 369.00*
                    <p class="legend-price">pago mensual.</p>
                    <div id="btn-buy">
                        <a type="button" class="btn btn-success" href="fox">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="panel-group" role="tablist" id="center-plan">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                    <div class="collapsed">
                        {%- image '@AppBundle/Resources/public/img/lion.png' -%}
                        <img src="{{ asset_url }}" id="avatar" alt="lion-advance">
                        {%- endimage -%}
                    </div>
                    <h4 class="panel-title">
                        <div class="collapsed" aria-expanded="false" aria-controls="collapseListGroup1">
                        </div>
                    </h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" id="celda">8 Páginas</li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-ok-sign"></span>
                    </li>
                    <li class="list-group-item" id="celda">
                        <span class="glyphicon glyphicon-ok-sign"></span>
                    </li>
                </ul>
                <div id="collapseListGroup3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                    <ul class="list-group">
                        <li class="list-group-item">3 Artículos</li>
                        <li class="list-group-item" id="celda">
                            <span class="glyphicon glyphicon-ok-sign"></span>
                        </li>
                        <li class="list-group-item">4 (2 Gráficas y 2 Texto)</li>
                        <li class="list-group-item" id="celda">2 Campañas</li>
                        <li class="list-group-item">8 Post (Face Twi y G+)</li>
                        <li class="list-group-item" id="celda">.com ó .pe</li>
                        <li class="list-group-item">Ilimitado</li>
                        <li class="list-group-item" id="celda">250</li>
                        <li class="list-group-item">Hasta 1000 suscriptores</li>
                        <li class="list-group-item" id="celda">
                            <span class="glyphicon glyphicon-ok-sign"></span>
                        </li>
                        <li class="list-group-item">30 minutos</li>
                        <li class="list-group-item" id="celda">Spotify y Netflix</li>
                    </ul>
                </div>
                <div class="panel-footer" id="lionadvance-price">$ 550.00*
                    <p class="legend-price">pago mensual.</p>
                    <div id="btn-buy">
                        <a type="button" class="btn btn-success" href="lion">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="visible-lg visible-md btn-features">
    <p class="legend-execution">*El tiempo de ejecución es de 2 meses, precios no incluyen IGV.</p>
    <button id="collapse-init" class="btn btn-primary">Ver más características ▼</button>
    <!-- ¿Necesitas ayuda para elegir tu plan? -->
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-6">
            <a href="contacto" id="help">Necesitas ayuda para elegir tu plan</a>
            <span class="glyphicon glyphicon-question-sign"></span>
        </div>
        <div class="col-md-6"></div>
    </div>
    <!--/ ¿Necesitas ayuda para elegir tu plan? -->
</div>
<!--/ Planes End -->
<!-- Small -->
<div class="visible-xs visible-sm row">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <div class="collapsed">
                            {%- image '@AppBundle/Resources/public/img/monkey.png' -%}
                            <img src="{{ asset_url }}" id="avatar-small" alt="monkey-lite">
                            {%- endimage -%}
                        </div>
                        <div class="panel-footer" id="monkeylite-price">$ 227.00*
                            <p class="legend-price-small">pago mensual.</p>
                            <div id="btn-buy">
                                <a type="button" class="btn btn-success" href="monkey">Comprar</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" id="down-monkeylite" data-toggle="collapse" href="#collapseOne">ver características ▼</button>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <li class="list-group-item" id="celda">Desarrollo Web / 4 Páginas</li>
                        <li class="list-group-item">Responsive Web</li>
                        <li class="list-group-item" id="celda">Optimización SEO</li>
                        <li class="list-group-item">1 Campañas Facebook Ads</li>
                        <li class="list-group-item" id="celda">4 Post (Face)</li>
                        <li class="list-group-item">Dominio .com ó .pe</li>
                        <li class="list-group-item" id="celda">Hosting 20Gb</li>
                        <li class="list-group-item">50 Correos</li>
                        <li class="list-group-item" id="celda">E-mailing 300 Suscriptores</li>
                        <li class="list-group-item">Medición de resultados</li>
                        <li class="list-group-item" id="celda">30min Skype</li>
                        <li class="list-group-item">*El tiempo de ejecución es de 2 meses.</li>
                        <li class="list-group-item"><a type="button" class="btn btn-warning" href="lion">$277.00* mensual</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <div class="collapsed">
                            {%- image '@AppBundle/Resources/public/img/fox.png' -%}
                            <img src="{{ asset_url }}" id="avatar-small" alt="fox-pro">
                            {%- endimage -%}
                        </div>
                        <div class="panel-footer" id="foxpro-price">$ 369.00*
                            <p class="legend-price-small">pago mensual.</p>
                            <div id="btn-buy">
                                <a type="button" class="btn btn-success" href="fox">Comprar</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" id="down-foxpro" data-toggle="collapse" href="#collapseTwo">ver características ▼</button>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <li class="list-group-item" id="celda">Desarrollo Web / 6 Páginas</li>
                        <li class="list-group-item">Responsive Web</li>
                        <li class="list-group-item" id="celda">Optimización SEO</li>
                        <li class="list-group-item">2 Artículos Blog</li>
                        <li class="list-group-item" id="celda">Landing Page</li>
                        <li class="list-group-item">Google Adwords 2 Anuncios (1 Gráfica 1 Texto)</li>
                        <li class="list-group-item" id="celda">1 Campañas Facebook Ads</li>
                        <li class="list-group-item">6 Post (Face y Twi)</li>
                        <li class="list-group-item" id="celda">Dominio .com ó .pe</li>
                        <li class="list-group-item">Hosting Ilimitado</li>
                        <li class="list-group-item" id="celda">100 Correos</li>
                        <li class="list-group-item">E-mailing 500 Suscriptores</li>
                        <li class="list-group-item" id="celda">Medición de resultados</li>
                        <li class="list-group-item">30min Skype</li>
                        <li class="list-group-item" id="celda">*El tiempo de ejecución es de 2 meses.</li>
                        <li class="list-group-item"><a type="button" class="btn btn-warning" href="lion">$369.00* mensual</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <div class="collapsed">
                            {%- image '@AppBundle/Resources/public/img/lion.png' -%}
                            <img src="{{ asset_url }}" id="avatar-small" alt="lion-advance">
                            {%- endimage -%}
                        </div>
                        <div class="panel-footer" id="lionadvance-price">$ 550.00*
                            <p class="legend-price-small">pago mensual.</p>
                            <div id="btn-buy">
                                <a type="button" class="btn btn-success" href="lion">Comprar</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" id="down-lionadvance" data-toggle="collapse" href="#collapseThree">ver características ▼</button>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <li class="list-group-item" id="celda">Desarrollo Web / 8 Páginas</li>
                        <li class="list-group-item">Responsive Web</li>
                        <li class="list-group-item" id="celda">Optimización SEO</li>
                        <li class="list-group-item">3 Artículos Blog</li>
                        <li class="list-group-item" id="celda">Landing Page</li>
                        <li class="list-group-item">Google Adwords 4 Anuncios (2 Gráfica 2 Texto)</li>
                        <li class="list-group-item" id="celda">2 Campañas Facebook Ads</li>
                        <li class="list-group-item">8 Post (Face Twi y G+)</li>
                        <li class="list-group-item" id="celda">Dominio .com ó .pe</li>
                        <li class="list-group-item">Hosting Ilimitado</li>
                        <li class="list-group-item" id="celda">250 Correos</li>
                        <li class="list-group-item">E-mailing 1000 Suscriptores</li>
                        <li class="list-group-item" id="celda">Medición de resultados</li>
                        <li class="list-group-item">30min Skype</li>
                        <li class="list-group-item" id="celda">*El tiempo de ejecución es de 2 meses.</li>
                        <li class="list-group-item"><a type="button" class="btn btn-warning" href="lion">$550.00* mensual</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Small -->